@font-face {
  font-family: 'clementine_sketch';
  src: url(/static/clementine_sketch.ttf) format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html, body {
    overflow: hidden;
}

body {
    position: fixed;
    background-image: url("/static/background.jpg");
    color: #5f5f5f;
    background-position: center;
    background-size: cover;
    background-color: #d8bea5;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: overlay;
}

.box {
    height: 200px;
    width: 200px;
    opacity: 0.7;
    border-radius: 50px;
    box-shadow: 0 0 20px 5px #a89582;
    margin: 3vh auto;
    transform: scale(1);
    transition-duration: 0.5s;
    cursor: pointer;
}

.box:hover {
    transition-duration: 0.5s;
    opacity: 1 !important;
}

.centralise {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.pseudo-remove-logos {
    opacity: 0 !important;
    top: 30vh !important;
    transition: all 0.4s ease-in-out;
    cursor: default;
    pointer-events: none;
}

.pseudo-remove-logos:hover {
    opacity: 0 !important;
}

.place-icon-top-left {
    opacity: 1 !important;
    left: 100px !important;
    top: 50px !important;
    transform: translate(0,0) !important;
    margin: 0;
    transition: all 0.4s ease-in-out;
}

#JS-logo, #git-logo, #UIUX-logo, #security-logo, #note-logo, #algorithm-logo, #sql-logo {
    position: absolute;
    left: 50%;
    transition: all 0.4s ease-in-out, opacity 0.2s ease-in-out;

}

#JS-logo {
    background-color: #f9dd21;
    transform: translate(-185%,0);
    top: 30vh;
}

#JS-logo p {
    color: #2e2e2c;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    transform: translate(-32%,-17%);
    font-size: 90px;
}

#git-logo {
    background-color: black;
    transform: translate(-50%,0);
    top: 30vh;
}

#git-logo img {
    height: 160px;
}

#UIUX-logo {
    background-color: #446078;
    overflow: hidden;
    transform: translate(-185%,0);
    top: calc(30vh + 260px);
}

#UIUX-logo img {
    height: 260px;
}

#security-logo {
    background-color: #5f5f5f;
    transform: translate(85%,0);
    top: 30vh;
}

#security-logo img{
    height: 160px;
}

#note-logo {
    background-color: #8e7e6d;
    transform: translate(-50%,0);
    top: calc(30vh + 260px);
}

#note-logo img {
    opacity: 0.8;
    height: 160px;
}

#algorithm-logo {
    background-color: #5f5f5f;
    transform: translate(85%,0);
    top: calc(30vh + 260px);
}

#algorithm-logo img {
    height: 165px;
}

#sql-logo {
    background-color: black;
    transform: translate(-50%,0);
    top: calc(30vh + 520px);
}

#sql-logo img {
    height: 165px;
}

h1 {
    font-family: 'clementine_sketch';
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 19vh;
    width: max-content;
    font-size: 6vw;
    transition: all 0.4s ease-in-out, opacity 0.2s ease-in-out;
}

#table {
    transform: translate(-50%,-44%);
    display: flex;
    width: 100vw;
    height: 29vh;
    overflow: scroll;
    padding-top: 3vh;
}

#left-side {
    position: fixed;
    width: 25vw;
    height: 100%;
    left: 3vw;
}

#right-side {
    left: 45vw;
    position: fixed;
    width: 55vw;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
}

.subtopic {
    background-color: #8e7e6d;
    box-shadow: 0px 0px 20px 5px #a89582, inset 0 0 32px 0px #5f5f5f;
    font-size: x-large;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 12px;
    font-family: "Open Sans",sans-serif;
    color: floralwhite;
    opacity: 0.7;
    transition-duration: 0.5s;
    text-align: center;
    transform: skewX(-12deg) scaleY(0.9);
    cursor: pointer;
}

.subtopic:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

#left-side-subtopics {
    margin-top: 9%;
    height: 53%;
    padding: 2px 8px;
    overflow: scroll;
}

#subtopics-container {
    margin-top: 300px;
    height: calc(100vh - 310px);
    padding: 2px 8px;
    overflow: scroll;
    width: 300px;
    transform: translate(-100%, 0);
    transition: all 0.3s ease;
}

.grid-item {
    margin: 1vw;
    border-style: dashed;
    border-width: 2px;
    border-radius: 6px;
    text-align: center;
    height: 86px;
    width: 445px;
    transition-duration: 0.2s;
}

.grid-container, .new-note-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-items: center;
    overflow-y: scroll;
}

.note {
    position: absolute;
    height: inherit;
    width: inherit;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 6px #91806f, inset 0 0 27px 0px #a89582;
    background-image: url(/static/paper2.jpg);
    transition-duration: 0.2s;
    overflow: hidden;
}

.note p {
    margin-top: 43px;
    text-align: center;
    transform: translate(0,-54%)scaleY(0.9);
    font-family: "Open Sans",sans-serif;
    font-size: x-large;
    width: 445px;
    margin-bottom: 0px;
}

.note:hover {
    filter: brightness(95%);
    transition-duration: 0.2s;
}

#opened-note {
    position: fixed;
    width: 44vw;
    height: 96vh;
    left: 3vw;
    top: 2vh;
    background-image: url(/static/paper2.jpg);
    border-radius: 12px;
    box-shadow: 0px 0px 40px 6px #91806f, inset 0 0 27px 0px #a89582;
}

#opened-header {
    height: 17vh;
    width: inherit;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 0;
    border-bottom: 2px;
    border-style: dashed;
    padding-bottom: 2px;
}

#opened-header img {
    height: 7vh;
    position: absolute;
    left: 44vw;
    opacity: 0.4;
}

#opened-header img:hover{
    opacity: 0.7;
}

#opened-header p {
    position: absolute;
    top: 8.5vh;
    text-align: center;
    transform: translate(0,-41%)scaleY(0.9);
    font-family: "Open Sans",sans-serif;
    font-size: x-large;
    width: 36vw;
    padding-left: 0.5vw;
    margin: 0;
}

#opened-header img:nth-child(1) {
    top: 0.5vw;
    transform: translate(-115%,0);
}

#opened-header img:nth-child(2) {
    top: 9.5vh;
    transform: translate(-106%,0);
}

#opened-header img:nth-child(3) {
    top: 9.5vh;
    transform: translate(-126%,0);
}

#note-body {
    width: -webkit-fill-available;
    height: 74vh;
    resize: none;
    overflow: scroll;
    font-size: inherit;
    background: transparent;
    border: 0;
    outline: none;
    cursor: default;
    border-radius: 8px;
    padding-right: 20px;
    margin: 10px 0;
    margin-left: 20px;
}

#new-note-place:hover {
    cursor: text;
    background-image: url(/static/paper2.jpg);
    transition-duration: 0.2s;
}

.new-note-textarea {
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    transform: scaleY(0.9);
    font-family: "Open Sans",sans-serif;
    font-size: x-large;
    width: 22vw;
    height: inherit;
    padding-left: 0.5vw;
    resize: none;
}

.chosen-subtopic {
    color: #fceb83;
    opacity: 1;
}

::-webkit-scrollbar {
  -webkit-appearance: inherit;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}