{% extends 'layout.html' %}

{% block content %}
<form>
    <input name="note_id" value="{{ selected_note.id if selected_note }}" hidden>
    <div class="note-format-add">
        <button type="submit" formmethod="post" class="not-buttom">a<img id='plus-icon' src="/static/plus_icon.png" draggable="false"></button>
        <div class="note-header">
            <div class="note-counter importance{{ selected_note.importance if selected_note }}"></div>
            <textarea name='header' id="note-header-input" autocomplete="off" required autofocus>{{ selected_note.header if selected_note }}</textarea>
        </div>
        <div class="note-body-new">
            <textarea name='body' id="note-body-input" autocomplete="off">{{ selected_note.body if selected_note }}</textarea>
        </div>
    </div>
</form>
{% endblock %}