{% extends 'layout.html' %}

{% block content %}
<h1 id="topics">Topics^</h1>
<div class="place-for-card-classes-background"></div>
<div class="place-for-card-classes">
    {% for note_class in note_classes%}
        <div class="topic" style="transform: rotate({{loop.index % 5 * 2}}deg)">
            <a href="/change-class/{{ note_class }}">
                <img src="/static/cimke.png" draggable="false" class="topic-img">
                <p>{{ note_class }}</p>
            </a>
        </div>
    {% endfor %}
    <a href="{{ url_for('add_new_class') }}"><img src="/static/plus_icon.png" id="add-new-class-icon" draggable="false"></a>
</div>
<div id="up-hider"></div>
<div id="down-hider"></div>
<div id="add-note"><a href="{{ url_for('add_note') }}"><img src="/static/add_note.png" id="add-note-icon" draggable="false"></a></div>
<div class="place-for-cards">
    {% for note in all_notes %}
        <div class="note-format {{ ' move-left' if loop.index % 2 == 1 else ' move-right'}}" style="animation-delay: {{ loop.index / 10 }}s; margin-top: {{ loop.index * 70}}px">
            <form>
                <div class="note-header">
                    <a href="/delete-note/{{ note.id }}"><img src="/static/remove-icon.png" id="remove-icon" draggable="false"></a>
                    <a href="/update-note/{{ note.id }}"><img src="/static/refresh.png" id="refresh-icon" class="circle" draggable="false"></a>
                    <p>{{ note.header }}</p>
                    <div class="note-counter importance{{ note.importance }}">
                        <a href="/up-vote/{{ note.id }}">
                            <img src="/static/blue-arrow.png" id="up-arrow" draggable="false" {{ "hidden" if note.importance > 2 }}>
                        </a>
                        <a href="/down-vote/{{ note.id }}">
                            <img src="/static/blue-arrow.png" id="down-arrow" draggable="false" {{ "hidden" if note.importance < 1 }}>
                        </a>
                    </div>
                </div>
                <div class="note-body">
                    {% set body = note.body.split('\n') %}
                    <div contenteditable="true" name="new_body">
                        {% for line in body if line|length > 1 %}
                            {% if line[:1] == '!' %}
                                {% if line[1:5] == '    ' %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ line[1:] }}<br>
                                {% else %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ line[1:] }}<br>
                                {% endif %}
                            {% else %}
                                <li style={{"margin-bottom:0px" if line[0] == '-' else '' }}>
                                    {{ line[1:] if line[0] == '-' else line }}
                                </li>
                            {% endif%}
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}