<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="/static/card_class.png">
</head>
<body>
    {% block content %} {% endblock %}
</body>
<script>
    function left_side_bar_open() {
        var leftSideBarClosed = document.getElementById("left-side-bar-closed");
        leftSideBarClosed.classList.add("left-side-bar-open");
        var leftSideBarHeaderClosed = document.getElementById("left-side-bar-header-closed");
        leftSideBarHeaderClosed.classList.add("left-side-bar-header-open");
        var placeForCardClassesClosed = document.getElementsByClassName("place-for-card-classes-closed");
        placeForCardClassesClosed[0].classList.add("place-for-card-classes-open");
        var upFadeClosed = document.getElementById("up-fade-closed");
        upFadeClosed.classList.add("up-fade-open");
        var downFadeClosed = document.getElementById("down-fade-closed");
        downFadeClosed.classList.add("down-fade-open");
        var pomodoroTodayClosed = document.getElementById("pomodoro-today-closed");
        pomodoroTodayClosed.classList.add("pomodoro-today-open");
        var barOpener = document.getElementById("bar-opener");
        barOpener.classList.add("bar-opener-hide");
        var barCloser = document.getElementById("bar-closer");
        barCloser.classList.add("bar-closer-appear");
    }
    function left_side_bar_close() {
        var leftSideBarClosed = document.getElementById("left-side-bar-closed");
        leftSideBarClosed.classList.remove("left-side-bar-open");
        var leftSideBarHeaderClosed = document.getElementById("left-side-bar-header-closed");
        leftSideBarHeaderClosed.classList.remove("left-side-bar-header-open");
        var placeForCardClassesClosed = document.getElementsByClassName("place-for-card-classes-closed");
        placeForCardClassesClosed[0].classList.remove("place-for-card-classes-open");
        var upFadeClosed = document.getElementById("up-fade-closed");
        upFadeClosed.classList.remove("up-fade-open");
        var downFadeClosed = document.getElementById("down-fade-closed");
        downFadeClosed.classList.remove("down-fade-open");
        var pomodoroTodayClosed = document.getElementById("pomodoro-today-closed");
        pomodoroTodayClosed.classList.remove("pomodoro-today-open");
        var barOpener = document.getElementById("bar-opener");
        barOpener.classList.remove("bar-opener-hide");
        var barCloser = document.getElementById("bar-closer");
        barCloser.classList.remove("bar-closer-appear");
    }

    function show_note(index) {
        console.log(index);
        var note = document.getElementsByClassName("note-format")[index];
        note.classList.add("show-note");
        var showButtons = document.getElementsByClassName("show-note-button");
        for (const showButton of showButtons) {
            showButton.setAttribute("hidden", '');
        }
        var hideButton = document.getElementsByClassName("hide-note-button")[index];
        hideButton.removeAttribute("hidden");
        var refreshIcon = document.getElementsByClassName("refresh-icon")[index];
        refreshIcon.removeAttribute("hidden");
    }

    function hide_note(index) {
        var note = document.getElementsByClassName("note-format")[index];
        note.classList.remove("show-note")
        var showButtons = document.getElementsByClassName("show-note-button");
        for (const showButton of showButtons) {
            showButton.removeAttribute("hidden");
        }
        var hideButton = document.getElementsByClassName("hide-note-button")[index];
        hideButton.setAttribute("hidden", '');
        var refreshIcon = document.getElementsByClassName("refresh-icon")[index];
        refreshIcon.setAttribute("hidden",'');
    }
</script>
</html>