<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="/static/card_class.png">
    <script src="/static/login.js" defer></script>
</head>
<body>
    <div id="login-page">
        <h1 >
            {% set message = ['W','e','l','c','o','m','e^ ','T','o^ ','N','o','t','e','s^','!'] %}
            {% for letter in message %}<span>{{ letter }}</span>{% endfor %}
        </h1>
        <p>
            {% set username = ['U','s','e','r^ ','N','a','m','e^ ',': '] %}
            {% for letter in username %}<span>{{ letter }}</span>{% endfor %}
            <span class="brown-dashed-underline"><input autocomplete="off"></span>
        </p>
        <p>
            {% set password = ['P','a','s','s^','w','o','r','d^ ', ': '] %}
            {% for letter in password %}<span>{{ letter }}</span>{% endfor %}
            <span class="brown-dashed-underline"><input type="password" autocomplete="off"></span>
        </p>
    </div>
</body>
</html>