<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select topic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" defer></script>
    <script type="module" src="/static/main.js"></script>
</head>
<body>
    <img id="sign-in-icon" src="/static/button_icons/sign-in.svg" {{'hidden' if session['hash'] else ''}}>
    <img id="sign-out-icon" src="/static/button_icons/sign-out.svg" {{'' if session['hash'] else 'hidden'}}>
    <h1>Choose^ A^ Subject^</h1>
    <div id="JS-logo" class="box" data-topic-name="java-script">
        <p class="centralise">JS</p>
    </div>
    <div id="git-logo" class="box" data-topic-name="git">
        <img src="/static/logo_icons/git-icon.png" class="centralise" draggable="false">
    </div>
    <div id="security-logo" class="box" data-topic-name="security">
        <img src="/static/logo_icons/user-secret-solid.svg" class="centralise" draggable="false">
    </div>
    <div id="UIUX-logo" class="box" data-topic-name="ux-and-ui">
        <img src="/static/logo_icons/UIUX-logo.png" class="centralise" draggable="false">
    </div>
    <div id="note-logo" class="box" data-topic-name="notes">
        <img src="/static/logo_icons/sticky-note-regular.svg" class="centralise" draggable="false">
    </div>
    <div id="algorithm-logo" class="box" data-topic-name="algorithm">
        <img src="/static/logo_icons/algorithm-logo.jpg" class="centralise" draggable="false">
    </div>
    <div id="sql-logo" class="box" data-topic-name="sql">
        <img src="/static/logo_icons/sql-logo.png" class="centralise" draggable="false">
    </div>
    <div id="java-logo" class="box" data-topic-name="java">
        <img src="/static/logo_icons/java-logo.svg" class="centralise" draggable="false">
    </div>
    <div id="subtopics-container">
    </div>
    <div id="right-side" hidden>
        <div class="grid-container">
        </div>
        <div class="new-note-container">
            <div id="new-note-place" class="grid-item" {{'' if session['hash'] else 'hidden'}}></div>
        </div>
    </div>
    <div id="opened-note" hidden>
        <div id="opened-header">
            <img src="/static/button_icons/close.svg" id="close-note-icon">
            <img src="/static/button_icons/edit.svg" id="edit-note-icon" {{'' if session['hash'] else 'hidden'}}>
            <img src="/static/button_icons/save.svg" id="save-note-icon" hidden>
            <p></p>
        </div>
        <div id="note-body" spellcheck="false"></div>
    </div>
    <div id="login-modal-container" hidden>
        <div id="filter"></div>
        <div id="login-modal">
            <input id="authorization-input" placeholder="Who are you?">
        </div>
    </div>
<!-- https://fontawesome.com/license -->
</body>
</html>
