<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_topic.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="/static/topic.js" defer></script>
</head>
<body>
    <div id="left-side">
        <div>
            <a href="select-topic">
                {% if topic == 'java-script'%}
                    <div id="JS-logo" class="box">
                        <p class="centralise">JS</p>
                    </div>
                {% elif topic == 'git' %}
                    <div id="git-logo" class="box">
                        <img src="/static/git-icon.png" class="centralise" draggable="false">
                    </div>
                {% elif topic == 'ux-and-ui' %}
                    <div id="UIUX-logo" class="box">
                        <img src="/static/UIUX-logo.png" class="centralise" draggable="false">
                    </div>
                {% elif topic == 'security' %}
                    <div id="security-logo" class="box">
                        <img src="/static/user-secret-solid.svg" class="centralise" draggable="false">
                    </div>
                {% elif topic == 'notes' %}
                    <div id="note-logo" class="box">
                        <img src="/static/sticky-note-regular.svg" class="centralise" draggable="false">
                    </div>
                {% endif %}
            </a>
        </div>
        <img id="up-arrow1" src="/static/sort-up-solid.svg">
        <div id="left-side-subtopics">
            {% for subtopic in subtopics_for_topic %}
                <div class="subtopic" data-subtopic-link={{ subtopic.subtopic_name_as_link }}>{{ subtopic.subtopic_name }}</div>
            {% endfor %}
        </div>
        <img id="down-arrow1" src="/static/sort-down-solid.svg">
    </div>
    <div id="right-side">
        {{ all_notes_for_topic }}
        <div class="grid-container">
            {% for i in range(session['all_notes_for_topic']|length + 5) %}
                <div class="grid-item">
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="opened-note" hidden>
        <div id="opened-header">
            <img src="/static/window-close-solid.svg">
            <img src="/static/edit-solid.svg">
            <p></p>
        </div>
        <div id="opened-body">
            <textarea></textarea>
        </div>
    </div>
</body>
</html>