<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_topic.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src="/static/topic.js" defer></script>
</head>
<body>
    <div id="left-side">
        <div>
            <div id="JS-logo" class="box">
                <p class="centralise">JS</p>
            </div>
        </div>
        <img id="up-arrow1" src="/static/sort-up-solid.svg">
        <div id="left-side-subtopics">
            {% for subtopic in subtopics_for_topic %}
                <div class="subtopic">{{ subtopic }}</div>
            {% endfor %}
        </div>
        <img id="down-arrow1" src="/static/sort-down-solid.svg">
    </div>
    <div id="right-side">
        {{ all_notes_for_topic }}
        <div class="grid-container">
            {% for i in range(session['all_notes_for_topic']|length + 5) %}
                <div class="grid-item">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>